.proTable{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

}

.actions{
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.updateAction{
    margin-right: 30px;
}